/* 
  Aalto Journey Planner configuration
  
  Copy this file as config.js and insert the correct configuration

  Reittiopas account can be requested from:
  http://developer.reittiopas.fi/pages/en/account-request.php
 */

var config = {
  "api":"apiProxy/hsl/prod/",
  "user":"",
  "pass":""
}